<div class="background-view d-flex justify-content-center align-items-center">
    <div class="card-panel flex-wrap gap-2 justify-content-around align-items-center bg-light p-3 rounded border" >
        <h1>User info</h1>
    </div>
    <div class="card-panel flex-wrap gap-2 justify-content-around align-items-center bg-light p-3 rounded border" >
        <h1>Batch info</h1>
    </div>
    <div class="card-panel flex-wrap gap-2 justify-content-around align-items-center bg-light p-3 rounded border" >
        <h1>Prize info</h1>
    </div>

</div>
