<div class="background-view d-flex justify-content-center align-items-center">
    <div class="main-div">
        <cdk-virtual-scroll-viewport itemSize="100" class="page-view" *ngIf="scrollbar; else elseBlock">
        <mat-card class="card-panel"> 
            <h1>{{emp.username}}</h1>
            <h4>{{emp.fname}} {{emp.lname}}, Revature {{emp.role}}</h4>
            <h4>Current RevaPoints: {{emp.currentRevaPoints}}</h4>
            <h4>AllTime RevaPoints: {{emp.allTimeRevaPoints}}</h4>
        </mat-card>
        <mat-card class="card-panel table-card">
            <h1>My Batch: {{emp.batchId}}</h1>
            <table mat-table [dataSource]="dataSource" matSort class="table table-striped table-bordered">
                <!-- Name Column -->
                <ng-container matColumnDef="fname">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Associate Name </th>
                  <td mat-cell *matCellDef="let b"> {{b.fname}} {{b.lname}}</td>
                </ng-container>
            
                <!-- Points Column -->
                <ng-container matColumnDef="currentRevaPoints">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Current Points </th>
                  <td mat-cell *matCellDef="let b"> {{b.currentRevaPoints}} </td>
                </ng-container>
          
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator #paginator [pageSize]="5" showFirstLastButtons></mat-paginator>
        </mat-card>
        <mat-card class="card-panel">
            <h1>Prizes</h1>
            <ul>
                <li *ngFor="let p of emp.prizes">{{p.name}}</li>
            </ul>
            <a [routerLink]="[ '/price' ]" routerLinkActive="active" class="nav-link">View Prize Page</a>
        </mat-card>
    </cdk-virtual-scroll-viewport>
    <ng-template #elseBlock>
        <mat-card class="card-panel"> 
            <h1>{{emp.username}}</h1>
            <h4>{{emp.fname}} {{emp.lname}}, Revature {{emp.role}}</h4>
            <h4>Current RevaPoints: {{emp.currentRevaPoints}}</h4>
            <h4>AllTime RevaPoints: {{emp.allTimeRevaPoints}}</h4>
        </mat-card>
        <mat-card class="card-panel table-card">
            <h1>My Batch: {{emp.batchId}}</h1>
                <table mat-table [dataSource]="dataSource" matSort class="table table-striped table-bordered">
                  <!-- Name Column -->
                  <ng-container matColumnDef="fname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Associate Name </th>
                    <td mat-cell *matCellDef="let b"> {{b.fname}} {{b.lname}}</td>
                  </ng-container>
              
                  <!-- Points Column -->
                  <ng-container matColumnDef="currentRevaPoints">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Current Points </th>
                    <td mat-cell *matCellDef="let b"> {{b.currentRevaPoints}} </td>
                  </ng-container>
            
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator #paginator [pageSize]="5" showFirstLastButtons></mat-paginator>
              
        </mat-card>
        <mat-card class="card-panel">
            <h1>Prizes</h1>
            <ul>
                <li *ngFor="let p of emp.prizes">{{p.name}}</li>
            </ul>
            <a [routerLink]="[ '/price' ]" routerLinkActive="active" class="nav-link">View Prize Page</a>
        </mat-card>
    </ng-template>
    </div>
</div>
