<br>
<h1 style="text-align: center; font-size: 50px"><b>Awesome Prizes</b></h1>
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  background-color: #2196F3;
  padding: 50px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 200px 20px;
  font-size: 50px;
}
</style>

<div class="grid-container" *ngFor="let prize of data">
  <div>{{prize.name}}</div>
  <div>{{prize.cost}}</div>
  <div>{{prize.description}}</div>  
  <div class="btn" role="button" style="background-color:green" (click)="getAllPrizes()">Redeem</div>
</div>