<nav class="navbar navbar-expand navbar-light bg-light d-flex flex-row flex-wrap">
    <div class="container-fluid">
        <a class="navbar-brand">Navbar logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a [routerLink]="['/home']" routerLinkActive="active" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="[ '/trainer' ]" routerLinkActive="active" class="nav-link">trainer</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="[ '/associate' ]" routerLinkActive="active" class="nav-link">associate</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="[ '/leaderboard' ]" routerLinkActive="active" class="nav-link">leaderboard</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="[ '/price' ]" routerLinkActive="active" class="nav-link">price</a>
                </li>
                <li class="nav-item" *ngIf="!isLogin">
                    <a [routerLink]="[ '/login' ]" routerLinkActive="active" class="nav-link">login</a>
                </li>
                <li *ngIf="isLogin"><button mat-raised-button color="accent" (click)="logout()">logout</button></li>
            </ul>
        </div>
    </div>
</nav>